<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OLKI.Programme.QuBC.Properties.Settings_User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="OLKI.Programme.QuBC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OLKI.Programme.QuBC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <OLKI.Programme.QuBC.Properties.Settings_User>
            <setting name="DefaultFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultFileOpen" serializeAs="String">
                <value/>
            </setting>
        </OLKI.Programme.QuBC.Properties.Settings_User>
        <OLKI.Programme.QuBC.Properties.Settings>
            <setting name="ListItems_ShowSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListItems_ShowWithoutAccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectFile_DefaultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="_UNUSED_Logfile_DateFormat" serializeAs="String">
                <value>yyyy-MM-dd__HH-mm-ss</value>
            </setting>
            <setting name="Startup_DefaultFileOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="ListItems_ExpandTreeNodeOnSingleClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileAssociation_CheckOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentFiles_FileList" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles_MaxLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RecentFiles_Seperator" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="Internal_SettingsUpgradet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Copy_DirectoryAttributes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Copy_FileAttributes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Copy_FileExisitngAddTextDateFormat" serializeAs="String">
                <value>yyyyMMddHHmmss</value>
            </setting>
            <setting name="Copy_FileExisitngAddTextDefault" serializeAs="String">
                <value>__{{$LastWriteTime}}</value>
            </setting>
            <setting name="ListItems_ShowHidden" serializeAs="String">
                <value>True</value>
            </setting>
        </OLKI.Programme.QuBC.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OLKI.Programme.QuBC.Properties.Settings>
            <setting name="ProjectFile_DefaultExtension" serializeAs="String">
                <value>qubc</value>
            </setting>
            <setting name="ProjectFile_FilterList" serializeAs="String">
                <value>Sicherungsvorlage (*.qubc)|*.qubc|Sicherungsvorlage (*.qbc)|*.qbc|Sicherungsvorlage (*.xml)|*.xml|Alle Dateien (*.*)|*.*</value>
            </setting>
            <setting name="ProjectFile_FilterIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="_UNUSED_Logfile_FilterList" serializeAs="String">
                <value>Logdatei (*.log)|*.log|Textdatei (*.txt)|*.txt|Alle Dateien (*.*)|*.*</value>
            </setting>
            <setting name="_UNUSED_Logfile_FilterIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FileAssociation_TestFile" serializeAs="String">
                <value>AssociationTestfile.qubc</value>
            </setting>
            <setting name="FileAssociation_ExtensionFile" serializeAs="String">
                <value>QuBC.Project</value>
            </setting>
            <setting name="FileAssociation_ExtensionDescription" serializeAs="String">
                <value>QuBC Project</value>
            </setting>
            <setting name="FileAssociation_ExtensionIconFile" serializeAs="String">
                <value>Project_Symbol.ico</value>
            </setting>
            <setting name="Internal_CheckAdminRights" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectFile_VersionCompatibleNative" serializeAs="String">
                <value>1;2</value>
            </setting>
            <setting name="ProjectFile_VersionCompatibleConvert" serializeAs="String">
                <value />
            </setting>
        </OLKI.Programme.QuBC.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
